

body {
  background: url('../img/wood.jpg');
  background-size: 100%;
}

#preform {
	height: 170px;
}
#freeform {
}

#paperlist {
	list-style:none;
}

#paperlist li {
	float: left;
	height: 80px;
	width: 150px;
	padding: 10px;
	margin: 10px;
	border: 1px solid black;
	border-radius: 5px;
	text-align: center;
	box-shadow: -5px 5px 5px #888;
	cursor: pointer;
}

#paperlist li img {
	max-height: 100;
	max-width: 100;
	vertical-align: middle;
}

#paperlist #cnn {
	background-color: #CA0002;
}

#paperlist #fox {
	background-color: #002465;
}

#paperlist #nytimes {
	background-color: #ffffff;
}

#paperlist #cnn img {
	margin-top: 8px;
}

#paperlist #fox img {
	margin-top: ;
}