#how-it-works { display: none; }

#how-it-works .paper-wrapper { background: url('../img/paper-sheet.png') no-repeat; background-size: 100%; height: 80%; padding: 10%;}
#how-it-works .paper-content { height: 100%; color: black; overflow: auto; }
#how-it-works .paper-content h2 { text-align: left; }