* {
	margin: 0px;
	padding: 0px;
}
html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0px;
  color: #000000;
  height: 100%;
  /* If the browser doesn't support gradients, just use a white background. */
  background-color: #EEEEDD;
}

h2 {
  color: #000000;
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 0px;
}

p {
	margin-bottom: 5px;
}

#content {
	width: 1000 px;
	margin: auto;
}

form li {
	list-style: none;
	margin: 10px;
}

form li label {
	float: left;
	width: 200px;
	font-weight: bold;
	cursor: pointer;
}

.hackpub-top-bar {
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 5px;
  background: rgba(0, 0, 0, 1);
  color: white;
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  z-index: 2000000000;
  height: 150px;
  border-bottom: 1px solid #666666;
}

#newsjack-logo {
	float: left;
}

#newsjack-logo img {
	height: 150px;
}

#newsjack-logo .desc {
	font-size: 24px;
}

.hackpub-top-bar h1 {
	color: #AFF;
	font-weight: bold;
	font-size: 18px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.hackpub-top-bar a {
  color: white;
}