#newsjack-header {
  position: fixed;
  top: 0px;
  left: 0px;
  background-image: url('../img/header-bg.png');
  width: 100%;
  height: 88px;
  z-index: 2000000000;
}

#newsjack-logo {
  margin: 3px auto;
  background-image: url('../img/header-title.png');
  background-size: 100%;
  width: 444px;
  height: 68px;
}

#newsjack_content { padding-top:70px; }

@media only screen and (max-width: 600px) {
  #newsjack-logo {
    margin: 3px auto;
    background-image: url('../img/header-title.png');
    background-size: 100%;
    width: 333px;
    height: 53px;
    margin-top: 15px;
  }
}