#newsjack-header {
  position: fixed;
  top: 0px;
  right: 0px;
  background: url('../img/paper-sheet.png') -0px 70px;
  background-size: 100%;
  width: 40%;
  height: 70px;
  z-index: 2000000000;
}

#newsjack-logo {
  margin: 3px auto;
  background-image: url('../img/header-title.png');
  background-size: 100%;
  width: 330px;
  height: 55px;
}

#newsjack_content {}

@media only screen and (max-width: 600px) {
  #newsjack-logo {
    margin: 3px auto;
    background-image: url('../img/header-title.png');
    background-size: 100%;
    width: 333px;
    height: 53px;
    margin-top: 15px;
  }
}