.springMessage {height: 200px; width: 200px;}
.springMessage div.internalWrap {
	padding: 10px;
	margin-left: 10px;
	background: #FFF;
	border: 2px solid #000;
	border-right: 0px;
	-moz-box-shadow: 0 4px 10px #666;
	-webkit-box-shadow: 0 4px 10px #666;
	box-shadow: 0 4px 10px #666;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Color=#CCC, direction=270, strength=7)";
	filter: progid:DXImageTransform.Microsoft.Shadow(Color=#CCC, direction=270, strength=7);
}
.springMessage ul li {
	list-style: none;
	margin-top: 10px;
}

.springMessageClose {
}