.hackpub-top-bar * {
	padding: 0px;
	margin: 0px;
}

.hackpub-top-bar {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 5px;
  background: rgba(0, 0, 0, 1);
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  z-index: 2147483645;
}

#newsjack-logo {
	float: left;
}

#newsjack-logo img {
	height: 150px;
}

#newsjack-logo .desc {
	font-size: 24px;
}

.hackpub-top-bar h1 {
	color: #AFF;
	font-weight: bold;
	font-size: 14px;
}

.hackpub-top-bar a {
	color: white;
	text-decoration: underline;
}

.hackpub-top-bar .newsjack_original_source {
	font-weight: bold;
	font-size: 12px;
	color: #AFF;
}